<p class="mb-0">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
    Reprehenderit
    butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
    voluptate nisi qui.
</p>

<div class="table-responsive my-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Prompt</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, fugit.
                <td>
                    <span class="badge badge-success m-1">Actif</span>
                </td>
                <td>
                    <i class="feather icon-trash text-danger m-1"></i>
                    <i class="feather icon-settings text-primary m-1" type="button"  data-toggle="modal" data-target="#exampleModalLive"></i>

                </td>
            </tr>
            <tr>
                <td>1</td>
                <td >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, fugit.
                <td>
                    <span class="badge badge-success m-1">Actif</span>
                </td>
                <td>
                    <i class="feather icon-trash text-danger m-1"></i>
                    <i class="feather icon-settings text-primary m-1" type="button"  data-toggle="modal" data-target="#exampleModalLive"></i>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, fugit.
                <td>
                    <span class="badge badge-success m-1">Actif</span>
                </td>
                <td>
                    <i class="feather icon-trash text-danger m-1"></i>
                    <i class="feather icon-settings text-primary m-1" type="button"  data-toggle="modal" data-target="#exampleModalLive"></i>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>

<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLiveLabel">Configuration </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    
                    <p>Status : <span class="badge badge-success m-1">Actif</span> </p>
                   
                    <div >
                        <div class="form-group mb-2">
                            <label for="message" class="form-label">Message</label>
                            <textarea id="message" class="form-control" rows="3" placeholder="Le prompt"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn  btn-primary">Save changes</button>
        </div>
    </div>
</div>
</div>
