<p class="mb-0">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
    Reprehenderit
    butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
    voluptate nisi qui.
</p>
<div class="table-responsive my-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Offre</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Dev Web</td>
                <td >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, fugit.
                </td>
                <td>
                    <i class="feather icon-trash text-danger"></i>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Dev Mobile</td>
                <td>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, fugit.
                </td>
                <td>
                    <i class="feather icon-trash text-danger"></i>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Dev IA</td>
                <td >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, fugit.
                </td>
                   
                <td>
                    <i class="feather icon-trash text-danger"></i>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>